{{#description}}
    /* {{{description}}} */
{{/description}}
    val {{{name}}}: {{#isEnum}}{{^isArrayOfEnums}}{{classname}}.{{nameInCamelCase}}{{/isArrayOfEnums}}{{#isArrayOfEnums}}{{{datatypeWithEnum}}}{{/isArrayOfEnums}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}