{{>licenseInfo}}

package {{package}};

import java.util.Objects;
{{#imports}}
import {{import}};
{{/imports}}

{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>swagwire/pojo}}{{/isEnum}}
{{/model}}
{{/models}}
